body {
    margin: 10px auto;
    width: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 5em;
    margin: 20px auto;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(255,255,255);
}
h3 {
    font-size: 2em;
    margin: 10px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(0,0,0);
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #999;
}
ref {
    font-size: 0.75em;
    line-height: 1.4em;
    color: rgb(0,0,0);
}
sub {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(255,255,255);
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
}
.containImage {
  position: relative;
  text-align: center;
  color: rgb(255,255,255);

}

/* Centered text */
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {

}
.logo {    
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline;
    margin-left: 20px;
}